<div class="container mx-auto flex justify-between items-center">
  <img class="w-48" src="{{ site.theme.link }}/static/img/logo.svg" />
  <div class="">
    {% for item in menu.get_items %}
      <div class="text-brown text-base font-phosphate">
        <a target="{{ item.target }}" href="{% if is_front_page %}{{ item.link }}{% else %}{{ site.url }}/{{ item.link }}{% endif %}">{{ item.title }}</a>
      </div>
    {% endfor %}
  </div>
  <div>
    {% for item in footer_menu.get_items %}
      <div class="text-brown text-base font-phosphate">
        <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
      </div>
    {% endfor %}
  </div>
</div>
<p class="text-center text-brown text-base font-bold">
  Copyright {{"now"|date('Y')}}
</p>