{% if menu %}
	<ul class="{% if sub_menu %}bg-white md:absolute md:rounded-sm shadow-sm md:hidden{% else %}block md:flex justify-around{% endif %}">
	{% for item in items %}
		<li
			class="{{ item.classes | join(' ') }} px-4 py-2 {% if sub_menu and item.title != 'Frutos Secos' %}bg-gray-400{% endif %}"
			{% if sub_menu and item.title != 'Frutos Secos' %}title="Muy Pronto"{% endif %}
		>
			<a
			 	target="{{ item.target }}"
				href="{% if is_front_page or sub_menu or item.title == 'Productos' %}{{ item.link }}{% else %}{{ site.url }}/{{ item.link }}{% endif %}"
				class="{% if sub_menu and item.title != 'Frutos Secos' %}pointer-events-none{% endif %}"
			>
				{{ item.title }}
			</a>
			{% if item.children|length > 0 %}
				{% include "menu.twig" with {'items': item.children, 'sub_menu': true} %}
			{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
