{% extends "base.twig" %}

{% block content %}
  <div id="home" class="w-full h-screen relative" style="background: url({{ site.theme.link }}/static/img/texture.webp);">
    {# <div class="w-16/12 md:w-full relative md:flex justify-center">
      <img class="w-full absolute md:static right-1/2 translate-x-1/3 md:translate-x-0" src="{{ site.theme.link }}/static/img/hacemos.webp" />
    </div> #}
    <div
      class="w-full h-screen relative md:flex justify-center bg-no-repeat bg-center bg-150% md:bg-contain"
      style="background-image: url({{ site.theme.link }}/static/img/hacemos.webp)">
    </div>
    {# Otros #}
    <img
      data-rellax-speed="7" 
      class="absolute w-20 md:w-32 right-3 md:right-40 top-1/3 md:top-1/3 rellax"
      src="{{ site.theme.link }}/static/img/fruto3.png"
    />
    <img
      data-rellax-speed="10" 
      class="absolute w-20 md:w-32 left-3 md:left-1/3 bottom-12 rellax z-40"
      src="{{ site.theme.link }}/static/img/fruto3.png"
    />

    {# Pecanas #}
    <img
      data-rellax-speed="5"
      class="absolute w-28 md:w-auto -left-10 top-1/3 rellax z-40"
      src="{{ site.theme.link }}/static/img/fruto1.png"
    />
    <img
      data-rellax-speed="6"
      class="absolute left-5 w-12 md:w-auto md:left-48 top-20 rellax z-40"
      src="{{ site.theme.link }}/static/img/fruto4.png"
    />
    <img
      data-rellax-speed="7"
      style="transform: scaleX(-1)"
      class="absolute w-12 right-6 top-10 md:top-20 rellax z-40"
      src="{{ site.theme.link }}/static/img/fruto4.png"
    />

    {# Cashews #}
    <img
      data-rellax-speed="10"
      class="absolute right-10 md:right-28 top-1/2 w-20 rellax"
      src="{{ site.theme.link }}/static/img/fruto6.png"
    />
    <img
      data-rellax-speed="6"
      class="absolute w-14 md:w-auto left-1/3 top-0 rellax"
      src="{{ site.theme.link }}/static/img/fruto7.png"
    />

    {# Almendras #}
    <img
      data-rellax-speed="2"
      style="transform: rotate(130deg)"
      class="absolute left-1/3 top-1/2 w-20 rellax"
      src="{{ site.theme.link }}/static/img/almendra2.png"
    />
    <img
      data-rellax-speed="10"
      style="transform: rotate(45deg)"
      class="absolute -right-16 top-32 w-40 rellax z-40"
      src="{{ site.theme.link }}/static/img/fruto5.png"
    />
    <img
      data-rellax-speed="5"
      class="absolute w-40 md:w-80 -right-10 bottom-0 rellax z-40"
      src="{{ site.theme.link }}/static/img/fruto2.png"
    />
  </div>

  <div id="nosotros" class="w-full h-screen flex flex-col justify-center" style="background-image: url({{ site.theme.link }}/static/img/texture.webp);">
    <div class="container mx-auto relative">
      <img class="w-full md:w-2/3 mx-auto" src="{{ site.theme.link }}/static/img/productos.png" />
      <p class="text-brown font-arsilon text-2xl sm:text-5xl text-center">Los mejores frutos secos, directamente del productor, seleccionados para que puedan ser dignos de tu mesa</p>
    </div>
  </div>

  <div id="disfrutos" class="w-full grid justify-items-center">
    <video autoplay loop muted class="w-full col-start-1 col-end-2 row-start-1 row-end-2" src="{{ site.theme.link }}/static/vid/productos.mp4"></video>
    <img
      class="col-start-1 col-end-2 row-start-1 row-end-2 z-10 lg:w-2/3 lg:mt-24 scale-x-translate-z-0 transition-transform duration-500"
      src="{{ site.theme.link }}/static/img/disfrutos-secos.png"
    />
  </div>

  <div class="splide">
    <div class="splide__track">
      <div class="splide__list">
        {# Slide 1 #}
        <div class="splide__slide">
          <div class="w-full h-screen bg-pink flex items-center">
            <div class="container mx-auto flex justify-start lg:justify-center items-center">
              <div class="grid grid-cols-1 grid-rows-1 items-center">
                <p class="text-7xl lg:text-13xl ml-36 lg:ml-72 mb-0 font-arsilon text-white col-start-1 col-end-1 row-start-1 row-end-1">Cashew</p>
                <img class="w-56 lg:w-auto col-start-1 col-end-1 row-start-1 row-end-1" src="{{ site.theme.link }}/static/img/cashew_perspective.webp" />
              </div>
            </div>
          </div>
        </div>
        {# Slide 2 #}
        <div class="splide__slide">
          <div class="w-full h-screen bg-green flex items-center">
            <div class="container mx-auto flex justify-start lg:justify-center items-center">
              <div class="grid grid-cols-1 grid-rows-1 items-center">
                <p class="text-5xl sm:text-7xl lg:text-13xl ml-32 lg:ml-72 mb-0 font-arsilon text-white col-start-1 col-end-1 row-start-1 row-end-1">Almendras</p>
                <img class="w-56 lg:w-auto col-start-1 col-end-1 row-start-1 row-end-1" src="{{ site.theme.link }}/static/img/almond_perspective.webp" />
              </div>
            </div>
          </div>
        </div>
        {# Slide 3 #}
        <div class="splide__slide">
          <div class="w-full h-screen bg-blue flex items-center">
            <div class="container mx-auto flex justify-start lg:justify-center items-center">
              <div class="grid grid-cols-1 grid-rows-1 items-center">
                <p class="text-5xl sm:text-7xl lg:text-13xl ml-32 lg:ml-72 mb-0 font-arsilon text-white col-start-1 col-end-1 row-start-1 row-end-1">Nueces</p>
                <img class="w-56 lg:w-auto col-start-1 col-end-1 row-start-1 row-end-1" src="{{ site.theme.link }}/static/img/nueces-perspectiva.webp" />
              </div>
            </div>
          </div>
        </div>
        {# Slide 4 #}
        <div class="splide__slide">
          <div class="w-full h-screen bg-yellow flex items-center">
            <div class="container mx-auto flex justify-start lg:justify-center items-center">
              <div class="grid grid-cols-1 grid-rows-1 items-center">
                <p class="text-5xl sm:text-7xl lg:text-13xl ml-32 lg:ml-72 mb-0 font-arsilon text-white col-start-1 col-end-1 row-start-1 row-end-1">Pecanas</p>
                <img class="w-56 lg:w-auto col-start-1 col-end-1 row-start-1 row-end-1" src="{{ site.theme.link }}/static/img/pecanas-perspectiva.webp" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="momentos" class="w-full h-screen bg-warmGray-200 relative">
    <div class="container mx-auto relative h-screen flex flex-col lg:flex-row justify-start lg:justify-center items-center pt-4 lg:pt-0">
      <img
        class="w-64 lg:hidden"
        src="{{ site.theme.link }}/static/img/ensalada1.png"
      />

      <p class="lg:w-1/2 text-base lg:text-lg text-center text-brown">Los frutos secos son una excelente fuente de nutrientes escenciales. Aportan un elevado contenido de proteinas, antioxidantes, fibra, minerales
      y vitaminas B y E. A lo que se añade que las grasas que contienen son 'buenas', es decir monoinsaturadas y poliinsaturadas. Estas ayudan a disminuir
      los niveles de colesterol LDL, bajan los triglicéridos, disminuyen la coagulación de la sangre y mejoran la salud de los vasos sanguíneos</p>
      <img
        class="absolute w-14 lg:w-36 xl:w-auto bottom-56 lg:bottom-auto lg:top-1/2 lg:-translate-y-full left-5 lg:left-32 -rotate-45 lg:rotate-0"
        src="{{ site.theme.link }}/static/img/flecha_celeste.png"
      />
      <img
        class="absolute w-16 lg:w-36 xl:w-auto top-10 lg:top-1/2 lg:-translate-y-full right-10 lg:right-32 lg:block"
        src="{{ site.theme.link }}/static/img/flecha_rosada.png"
      />
      <img
        class="absolute w-20 lg:w-48 xl:w-auto bottom-6 lg:bottom-32 left-1/2 -translate-x-1/2"
        src="{{ site.theme.link }}/static/img/flecha_verde.png"
      />
      <img
        data-rellax-speed="2"
        style="transform: translateX(-50%)"
        class="absolute bottom-0 left-1/2 rellax w-36 lg:w-80 xl:w-auto hidden lg:block"
        src="{{ site.theme.link }}/static/img/ensalada1.png"
      />
      <img data-rellax-percentage="0.5" data-rellax-speed="3" class="absolute bottom-12 lg:bottom-0 left-3 w-40 lg:w-80 xl:w-auto rellax" src="{{ site.theme.link }}/static/img/galleta.png" />
      <img data-rellax-percentage="0.5" data-rellax-speed="3" class="absolute bottom-12 lg:-bottom-5 right-0 w-40 lg:w-80 xl:w-auto rellax" src="{{ site.theme.link }}/static/img/ensalada2.png" />
    </div>
  </div>

  {# <div id="contacto" class="w-full h-screen" style="background: linear-gradient(90deg, #FFC0CB 50%, #00FFFF 50%)"> #}
  <div id="contacto" class="w-full h-screen">
    <div class="container h-screen mx-auto flex items-center">
      <div class="w-full justify-center items-center hidden lg:flex">
        <img class="w-28 lg:w-auto" src="{{ site.theme.link }}/static/img/ensalada2.png" />
      </div>
      <div class="w-full p-4 flex justify-center items-center">
        <div class="w-full">
          <h4 class="text-black text-4xl font-bold text-center">¿Tienes dudas?</h4>
          <form action="{{ form_action }}" method="POST">
            <input type="hidden" name="action" value="contact_form">
            <div class="my-4">
              <input class="w-full rounded-md focus:ring-blue" type="text" name="name" placeholder="¿Cual es tu nombre?">
            </div>
            <div class="my-4">
              <input class="w-full rounded-md focus:ring-blue" type="email" name="email" placeholder="¿Cual es tu email?">
            </div>
            <div class="my-4">
              <textarea class="w-full rounded-md focus:ring-blue" name="message" cols="30" rows="10" placeholder="¿Cual es tu duda?"></textarea>
            </div>
            <div class="my-4">
              <button class="w-full rounded-md bg-pink text-white text-lg py-2">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="w-full" id="cierre">
    <img class="w-full" src="{{ site.theme.link }}/static/img/cierre.webp" />
  </div>
{% endblock %}